<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form th:action="@{/category/addNewCategory}" method="post">
                  <fieldset class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                  </fieldset>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="mainCategory" name="mainCategory"> Main Category
                    </label>
                  </div>
                  <fieldset class="form-group">
                      <label for="parentCategory">Category: </label>
                      <select name="parentCategory" id="parentCategory">
                          <option th:each="category : ${mainCategories}"
                                  th:value="${category.identifier}"
                                  th:text="${category.categoryName}"></option>
                      </select>
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; FINKI 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <<!-- jQuery -->
    <script src="../../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../js/bootstrap.min.js"></script>

</body>

</html>